<div class="content  mx-auto">
    <div class="col-12 justify-content-center">
        <div class="row bg-header mt-2 pl-2 pt-2">
            <h2>Game Hooks</h2>
        </div>
        <div class="row  m-2 p-2 text-white d-flex flex-row align-items-center ">
            <div class="col-sm-8 col-12  p-4 bg-hook">
                <p>"{{arrayHooks[hookIndex]}}"</p>
            </div>
            <div class="col-sm-4 col-12 mt-2">
                <button class="btn  btn-large" (click)="buttonHook()">Outro Game Hook</button>
            </div>

        </div>

        <div class="row mt-2 pl-2 pt-2">
            <p class="text-white">Fontes:<br>
                <a class="text-light" href="https://www.reddit.com/r/DnD/comments/9adid0/50_adventure_hooks_to_steal_for_your_game/">50 Adventure Hooks To Steal For Your Game
                </a><br>
                <a class="text-light" href="https://www.reddit.com/r/rpg/comments/7nmpm3/100_side_quest_hooks/">100 Side Quest Hooks
                </a>
            </p>
        </div>
    </div>
</div>