<div class="content  mx-auto">
    <div class="col-12 justify-content-center">
        <div class="row bg-dark text-white mt-2 pl-2 pt-2">
            <h2>Initiative Tracker</h2>
        </div>
        <div class="row p-2 ">
            <select *ngIf="!initObj" (change)="selectChangeHandler($event)" class="custom-select" name="" id="tipoDados">
            <option value="">Escolha uma Party</option>
            <option *ngFor="let party of partyOptions" [value]="partyOptions.indexOf(party)">{{party.partyName}}</option>   
            </select>
            <section *ngIf="initObj" class="d-flex flex-row align-items-center text-light">
                <label for="">Adicionar personagem</label>
                <input class="ml-3 mr-3" type="text" [(ngModel)]="addNewChar" placeholder="Nome">
                <div class="btn-rpg ">
                    <i class="fas fa-plus" (click)="addChar()"></i>
                </div>
            </section>
        </div>

        <div class="row p-2 ">
            <div class="col">
                <mat-table *ngIf="initObj" class="lessons-table init-table mat-elevation-z8" [dataSource]="dataSource">

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">
                            <input type="text" [value]="lesson.name" disabled> {{index}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="bonusInit">
                        <mat-header-cell *matHeaderCellDef>Bonus Init</mat-header-cell>
                        <mat-cell class="description-cell" *matCellDef="let lesson">
                            <input type="number" [value]="lesson.bonusInit" [(ngModel)]="lesson.bonusInit" (change)="atualizarTabela()">
                        </mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="diceInit">
                        <mat-header-cell *matHeaderCellDef>Dados Init</mat-header-cell>
                        <mat-cell class="duration-cell" *matCellDef="let lesson;let i = index">
                            <input type="number" class="w-50" [value]="lesson.diceInit" [(ngModel)]="lesson.diceInit" (change)="atualizarTabela()">
                            <div class="btn-rpg" (click)="rollDice(i)">
                                <i class="fas fa-dice"></i>
                            </div>

                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="totalInit">
                        <mat-header-cell *matHeaderCellDef>Total init</mat-header-cell>
                        <mat-cell class="duration-cell" *matCellDef="let lesson">
                            <input type="number" [value]="lesson.totalInit" disabled>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef>Derrubar</mat-header-cell>
                        <mat-cell class="duration-cell" *matCellDef="let lesson;let i = index">
                            <div class="btn-rpg " (click)="removeChar(i)">
                                <i class="fas fa-skull"></i>
                            </div>

                        </mat-cell>
                    </ng-container>

                    <mat-header-row class="turn-css-header" *matHeaderRowDef="displayedColumns"></mat-header-row>

                    <mat-row [ngClass]="{'turn-css-select': row.name == ordenarChars[turno].name && started == true}" *matRowDef="let row; columns: displayedColumns;let i = index"></mat-row>

                </mat-table>
            </div>
        </div>

        <div class="row p-2 " *ngIf="initObj">
            <div class="btn-rpg" (click)="prev()" *ngIf="started">
                <i class="fas  fa-angle-left"></i>
            </div>
            <div class="btn-rpg" (click)="ordenarTabela()" *ngIf="started">
                <i class="fas fa-sync-alt"></i>
            </div>
            <div class="btn-rpg" (click)="start()" *ngIf="!started">
                <i class="fas fa-play"></i>
            </div>
            <p class="text-light" *ngIf="!started">Iniciar!</p>
            <div class="btn-rpg" (click)="next()" *ngIf="started">
                <i class="fas fa-angle-right"></i>
            </div>
        </div>

    </div>
</div>