<select *ngIf="!initObj" (change)="selectChangeHandler($event)" class="custom-select" name="" id="tipoDados">
  <option value="">Escolha uma Party</option>
  <option *ngFor="let party of partyOptions" [value]="partyOptions.indexOf(party)">
     
    {{party.partyName}}</option>
                         
</select>

<!-- *ngIf="initObj" -->
<section>
    <p>Adicionar personagens</p>
    <table style="width:100%">
        <tr>
            <td>
                <label for="">Nome</label>
                <input type="text" [(ngModel)]="addNewChar">
                <i class="fas fa-plus" (click)="addChar()"></i> {{addNewChar}}
            </td>
        </tr>
    </table>
</section>

<mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
        <mat-cell *matCellDef="let lesson">
            <input type="text" [value]="lesson.name" disabled> {{index}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="bonusInit">
        <mat-header-cell *matHeaderCellDef>Bonus Init</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let lesson">
            <input type="number" [value]="lesson.bonusInit" [(ngModel)]="lesson.bonusInit" (change)="atualizarTabela()">
        </mat-cell>

    </ng-container>

    <ng-container matColumnDef="diceInit">
        <mat-header-cell *matHeaderCellDef>Dados Init</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let lesson">
            <input type="number" [value]="lesson.diceInit" [(ngModel)]="lesson.diceInit" (change)="atualizarTabela()">
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="totalInit">
        <mat-header-cell *matHeaderCellDef>Total init</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let lesson">
            <input type="number" [value]="lesson.totalInit" disabled>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef>Derrubar</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let lesson;let i = index">
            <i class="fas fa-skull" (click)="removeChar(i)"></i> {{i}}
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>
<i class="fab fa-angular" (click)="atualizarTabela(aaa)"></i>