<!-- <header>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">Rpg Apps ></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars text-white"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                
                    <a class="nav-link" routerLink="dice-roller" routerLinkActive="active">Dice Roller</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="init-tracker" routerLinkActive="active">Initiative Tracker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="game-hook" routerLinkActive="active">Game hook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="loot-generator" routerLinkActive="active">Loot Generator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/intro">Intro</a>
                </li>
               
            </ul>
        
        </div>
    </nav>
</header> -->

<div class="row m-0">
    <div class="col-11 col-md-2 bg-primary">a</div>
    <div class="col-12 col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>



<footer>
    <div class=" p-1 text-center text-white">
        <p>2018 - {{dataAtual}}, Eduardo Issamu Nakamura </p>
    </div>
</footer>