<div class="container-fluid">
    <div class="row bg-header mt-2 pl-2 pt-2">
        <h2>Loot Generator</h2>
    </div>
    <div class="row">
        <h3 class="text-light">1) Determine o tipo e nível do encontro</h3>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-5">
            <p class="text-light col-12">Tesouro individual</p>
            <button class="btn m-2 col-2 btn-large" (click)="this.lootType = 1;genLoot()">0-4</button>
            <button class="btn m-2 col-2 btn-large" (click)="this.lootType = 2;genLoot()">5-10</button>
            <button class="btn m-2 col-2 btn-large" (click)="this.lootType = 3;genLoot()">11-16</button>
            <button class="btn m-2 col-2 btn-large" (click)="this.lootType = 4;genLoot()">17+</button>
        </div>
        <div class="col-sm-12 col-md-5">
            <p class="text-light col-12">Reservas de tesouro</p>
            <button class="btn m-2 col-2 btn-large" (click)="this.lootType = 5;genLoot()">0-4</button>
            <button class="btn m-2 col-2 btn-large" (click)="this.lootType = 6;genLoot()">5-10</button>
            <button class="btn m-2 col-2 btn-large" (click)="this.lootType = 7;genLoot()">11-16</button>
            <button class="btn m-2 col-2 btn-large" (click)="this.lootType = 8;genLoot()">17+</button>
        </div>
    </div>

    <div class="row bg-header mt-2 pl-2 pt-2">
        <h3>Resultado</h3>
    </div>
    <div class="row">
        <table class="bg-convert" mat-table [dataSource]="dataSourceIndividual">
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef class="text-light text-center"> Tipo de Peça </th>
                <td mat-cell *matCellDef="let element" class="text-light text-center"> {{element.type}} </td>
            </ng-container>
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef class="text-light text-center"> Total </th>
                <td mat-cell *matCellDef="let element" class="text-light text-center"> {{element.total}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumnsIndividual"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsIndividual;"></tr>
        </table>
    </div>

    <div class="row bg-header mt-2 pl-2 pt-2">
        <h3>Conversor de Moedas</h3>

    </div>
    <div class="row p-3">
        <div class="d-flex justify-content-center w-100">
            <input min="0" type="number" class="form-control flex-fill m-2" value="Valor" [(ngModel)]="valorToConvert">
            <select class="custom-select flex-fill m-2" [(ngModel)]="selectedOption">
                <option selected>Escolha uma Moeda</option>
                <option *ngFor="let option of selectOptions" [value]="option">
                    {{option}}
                  </option>
              </select>
            <button class="btn btn-large flex-fill m-2" (click)="convertPiece()">Converter</button>
        </div>

    </div>



    <div class="row">
        <table class="bg-convert" mat-table [dataSource]="dataSourceConvert">
            <ng-container matColumnDef="cobre">
                <th mat-header-cell *matHeaderCellDef class="text-light text-center"> Cobre </th>
                <td mat-cell *matCellDef="let element" class="text-light text-center"> {{element.cobre}} </td>
            </ng-container>
            <ng-container matColumnDef="prata">
                <th mat-header-cell *matHeaderCellDef class="text-light text-center"> Prata </th>
                <td mat-cell *matCellDef="let element" class="text-light text-center"> {{element.prata}} </td>
            </ng-container>
            <ng-container matColumnDef="electrum">
                <th mat-header-cell *matHeaderCellDef class="text-light text-center"> Electrum </th>
                <td mat-cell *matCellDef="let element" class="text-light text-center"> {{element.electrum}} </td>
            </ng-container>
            <ng-container matColumnDef="ouro">
                <th mat-header-cell *matHeaderCellDef class="text-light text-center"> Ouro </th>
                <td mat-cell *matCellDef="let element" class="text-light text-center"> {{element.ouro}} </td>
            </ng-container>
            <ng-container matColumnDef="platina">
                <th mat-header-cell *matHeaderCellDef class="text-light text-center"> Platina </th>
                <td mat-cell *matCellDef="let element" class="text-light text-center"> {{element.platina}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsConvert"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsConvert;"></tr>
        </table>
    </div>

</div>


<p class="text-light">
    Fonte:
    <a href="https://dungeonmastertools.github.io/index.html">
        https://dungeonmastertools.github.io/index.html
    </a>
</p>