@import '~@fortawesome/fontawesome-free/css/all.min.css';

/* You can add global styles to this file, and also import other style files */


/* font-family: 'Open Sans', sans-serif;
font-family: 'MedievalSharp', cursive; */

body {
    /* background-color: red; */
    /* background-image: url('../src/assets/blackbg.jpg'); */
    background-size: cover;
}

* {
    font-family: 'MedievalSharp', cursive;
}

.bg-dark {
    background-color: rgba(255, 255, 255, 0.4) !important;
}

.btn-rpg {
    background-image: url('./assets/copper-sky-stone-grunge-stains-old-splatter-paper-has-got-worn-look-perfect-background-copper-sky-stone-grunge-worn-136858121.jpg');
    color: #fff;
    margin: 0 5px;
    padding: 10px;
    // border-radius: 5px;
    border: 3px solid #8a6812;
    border-top-style: inset;
    border-left-style: inset;
    box-shadow: 0px 0px 5px goldenrod;
}