<div class="content  mx-auto">
    <div class="col-12 justify-content-center">
        <div class="row bg-header mt-2 pl-2 pt-2">
            <h2>Dice Roller</h2>
        </div>
        <div class="row p-2 ">
            <div class=" col-md  col-6">
                <label class="mr-2 text-white" for="formGroupExampleInput">Quantidade: </label> {{qtdDados}}
                <input placeholder="1" [(ngModel)]="qtdDados" min="0" id="qtdDados" class="form-control" numeric numericType="number" type="number">
            </div>
            <div class="col-md  col-6">
                <label class="mr-2 text-white" for="formGroupExampleInput" style="display: inline;">Tipo: <img class="iconeDado" [src]="tipoDadoImg" alt="">
                    <span class="tradewindsfont">{{tipoDados}}</span>
                </label>

                <select (change)="escolherDado($event)" class="custom-select text-white" name="" id="tipoDados">
                    <option value="d4">d4</option>
                    <option value="d6">d6</option>
                    <option value="d8">d8</option>
                    <option value="d10">d10</option>
                    <option value="d12">d12</option>
                    <option value="d20">d20</option>
                    <option value="d100">d100</option>                            
                </select>
            </div>
            <div class="col-md  col-6">
                <label class="mr-2 text-white" for="formGroupExampleInput">Bonus: </label> {{bonusDados}}
                <input placeholder="0" [(ngModel)]="bonusDados" class="form-control" id="bonusDados" type="number">
            </div>
            <div class="col-md col-6 ">
                <label class="mr-2" for="formGroupExampleInput">&nbsp;</label>
                <br>

                <button class="btn  btn-large  col-sm-12" (click)="rolar()"><i class="fas fa-dice"></i>&nbsp;Rolar</button>
            </div>
            <div class="col-12 col-md-4 ">

                <p class="text-center resultado p-3 mt-4  text-light">
                    <span *ngIf="totalDados.length == 0" style="background-color: transparent;">Resultado da Rolagem aqui</span>
                    <span *ngFor="let dados of totalDados">
                            {{dados}}                            
                        </span>
                </p>


            </div>
        </div>
        <div class="row bg-header mt-2 pl-2 pt-2">
            <h3>Histórico</h3>
        </div>
        <div class="row ">
            <ul class="list-inline hist ">
                <li class="list-inline-item p-3 mb-2 resultado text-light" *ngFor="let historico of objHistoricoDados">
                    <!-- {{objHistoricoDados.indexOf(historico)+1}}) -->
                    <span *ngFor="let hist of historico">
                             {{hist}}
                    </span>
                </li>

            </ul>

        </div>
        <div class="row justify-content-center">
            <button class="btn btn-large   " (click)="limparHistorico()">Limpar Histórico</button>
        </div>
    </div>
</div>