<div class="content  mx-auto">
    <div class="col-12 justify-content-center">
        <div class="row bg-header mt-2 pl-2 pt-2">
            <h2>Dice Roller</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <h5 class="text-white">1) Escolha os Dados</h5>
            </div>
            <div class="col-sm-12 col-md-9 dicecss">
                <div class="row justify-content-center">
                    <div class="col text-light text-center col-sm-3 col-md-1" (click)="showD4 = !showD4;quant4 = 1  ">
                        <img src="assets/d4.svg" title="D4" alt="D4">
                        <p>d4</p>

                    </div>
                    <div class="col text-light text-center col-sm-3 col-md-1" (click)="showD6 = !showD6;  quant6 = 1">
                        <img src="assets/d6.svg" title="D6" alt="D6">
                        <p>d6</p>

                    </div>
                    <div class="col text-light text-center col-sm-3 col-md-1" (click)="showD8 = !showD8;  quant8 = 1">
                        <img src="assets/d8.svg" title="D8" alt="D8">
                        <p>d8</p>

                    </div>
                    <div class="col text-light text-center col-sm-3 col-md-1" (click)="showD10 = !showD10;  quant10 = 1">
                        <img src="assets/d10.svg" title="D10" alt="D10">
                        <p>d10</p>

                    </div>
                    <div class="col text-light text-center col-sm-3 col-md-1" (click)="showD12 = !showD12;  quant12 = 1">
                        <img src="assets/d12.svg" title="D12" alt="D12">
                        <p>d12</p>

                    </div>
                    <div class="col text-light text-center col-sm-3 col-md-1" (click)="showD20 = !showD20;  quant20 = 1">
                        <img src="assets/d20.svg" title="D20" alt="D20">
                        <p>d20</p>

                    </div>
                    <div class="col text-light text-center col-sm-3 col-md-1" (click)="showD100 = !showD100;  quant100 = 1">
                        <img src="assets/d100.svg" title="Custom" alt="Custom">
                        <p>d100</p>

                    </div>
                    <div class="col text-light text-center col-sm-3 col-md-1" (click)="showDCustom = !showDCustom;  quantCustom = 1;customDice = 1">
                        <img src="assets/dcustom.svg" title="Custom" alt="Custom">
                        <p>Custom</p>

                    </div>

                </div>
                <div class="row d-flex flex-row dices-types">

                    <div class="m-2 flex-fill" *ngIf="">
                        <p>Resultado aqui</p>
                    </div>
                    <div class="m-2 flex-fill" *ngIf="showD4">
                        <input type="number" [(ngModel)]="quant4" value="0">
                        <label class="text-light" for="d4">d4 + </label>
                        <input type="number" [(ngModel)]="bonus4" value="0">
                    </div>
                    <div class="m-2 flex-fill" *ngIf="showD6">
                        <input type="number" [(ngModel)]="quant6" value="0">
                        <label class="text-light" for="d6">d6 + </label>
                        <input type="number" [(ngModel)]="bonus6" value="0">
                    </div>
                    <div class="m-2 flex-fill" *ngIf="showD8">
                        <input type="number" [(ngModel)]="quant8" value="0">
                        <label class="text-light" for="d8">d8 + </label>
                        <input type="number" [(ngModel)]="bonus8" value="0">
                    </div>
                    <div class="m-2 flex-fill" *ngIf="showD10">
                        <input type="number" [(ngModel)]="quant10" value="0">
                        <label class="text-light" for="d10">d10 + </label>
                        <input type="number" [(ngModel)]="bonus10" value="0">
                    </div>
                    <div class="m-2 flex-fill" *ngIf="showD12">
                        <input type="number" [(ngModel)]="quant12" value="0">
                        <label class="text-light" for="d12">d12 + </label>
                        <input type="number" [(ngModel)]="bonus12" value="0">
                    </div>
                    <div class="m-2 flex-fill" *ngIf="showD20">
                        <input type="number" [(ngModel)]="quant20" value="0">
                        <label class="text-light" for="d20">d20 + </label>
                        <input type="number" [(ngModel)]="bonus20" value="0">
                    </div>
                    <div class="m-2 flex-fill" *ngIf="showD100">
                        <input type="number" [(ngModel)]="quant100" value="0">
                        <label class="text-light" for="d100">d100 + </label>
                        <input type="number" [(ngModel)]="bonus100" value="0">
                    </div>
                    <div class="m-2 flex-fill" *ngIf="showDCustom">
                        <input type="number" [(ngModel)]="quantCustom" value="0">
                        <label class="text-light" for="d">d</label>
                        <input type="number" [(ngModel)]="customDice" value="0">
                        <label class="text-light" for="d">+</label>
                        <input type="number" [(ngModel)]="bonusCustom" value="0">

                    </div>
                </div>


            </div>
            <div class="col-sm-12 align-middle col-md-3 bg-red">
                <button class="btn w-100 btn-large mb-2" (click)="rollDice()"><i class="fas fa-dice"></i> Rolar Dados</button>
                <button class="btn w-100 btn-large" (click)="resetHist()"><i class="fas fa-undo"></i> Limpar Histórico</button>
                <!-- <div class="btn-rpg" (click)="rollDice()">
                    <i class="fas fa-dice"></i>
                </div>
                <div class="btn-rpg" (click)="rollDice()">
                    <i class="fas fa-undo"></i>
                </div> -->
            </div>

            <!-- <div class="col-12 col-sm-3 bg-white" style="display:flex;
            justify-content:center;
            align-items: center;
            flex-flow: column;">
                <p class="align-middle m-0 p-0">{{histResults[0]}}</p>
            </div> -->
        </div>
        <div class="row bg-header mt-2 pl-2 pt-2">
            <h3>Resultado</h3>
        </div>
        <div class="row histresults  ">
            <div class="text-light d-flex flex-row p-2 align-items-end" *ngFor="let results of histResults">
                <p>{{results}}</p>
            </div>
        </div>
        <p class="text-light"></p>
    </div>
</div>

<audio id="diceRollSnd">
    <source src="../../assets/162456__kastenfrosch__dice.mp3" type="audio/mpeg">        
  </audio>