<div class="content ">
    <div class="col-12 justify-content-center">
        <div class="row bg-header mt-2 pl-2 pt-2">
            <h2>NPC Generator</h2>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <label for="power" class="text-light">1) Escolha uma Raça</label>
                <select class="custom-select flex-fill" [(ngModel)]="selectedRace" id="race" name="race">            
                    <option *ngFor="let option of races" [value]="option" >
                        {{option}}
                    </option>
                    <option selected value="">Aleatório</option>
                  </select>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <label for="power" class="text-light">2) Escolha uma Classe</label>
                <select class="custom-select flex-fill" [(ngModel)]="selectedClass" id="class" name="class">            
                    <option *ngFor="let option of classes" [value]="option" >
                        {{option}}
                    </option>
                    <option selected value="">Aleatório</option>
                  </select>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <label for="power" class="text-light">3) Escolha o Gênero</label>
            <div class="d-flex justify-content-between">
                <div class="radio">
                    <input value="Masculino" [(ngModel)]="gender" type="radio">
                    <label [attr.for]="id" class="radio-label text-light">
                       Masculino
                    </label>
                </div>
                <div class="radio">
                    <input value="Feminino" [(ngModel)]="gender" type="radio">
                    <label [attr.for]="id" class="radio-label text-light">
                        Feminino
                    </label>
                </div>
                <div class="radio">
                    <input value="Outro" [(ngModel)]="gender" type="radio">
                    <label [attr.for]="id" class="radio-label text-light">
                        Outro
                    </label>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-6">
            <label for="power" class="text-light">4) Escolha o Nível *</label>
            <input min="1" type="number" class="form-control" value="1" required [(ngModel)]="levelNPC">
        </div>
    </div>



    <!--  -->
    <div class="row mt-2">

        <div class="p-1 col-6 col-md-4">
            <button class="btn w-100 btn-large" (click)="generateNPC()">
            <i class="fas fa-user-plus"></i> 
            Gerar NPC</button>
        </div>

        <div class="p-1 col-6 col-md-4">
            <button class="btn w-100 btn-large" (click)="resetNPC()"><i class="fas fa-undo"></i> Limpar NPC</button>
        </div>
        <div class="p-1 col-12 col-md-4" *ngIf="generatedChar.name">
            <button class="btn w-100 btn-large" (click)="copyText(generatedCharClipboard)"><i class="fas fa-copy"></i> Copiar NPC para área de transferência</button>
        </div>



    </div>
    <!-- *ngIf="generatedChar.name" -->
    <table class="table  table-style text-light" *ngIf="generatedChar.name">
        <thead>
            <tr class="bg-header">
                <th colspan="6">
                    <h5>
                        {{generatedChar.name}}, {{generatedChar.gender}}, {{generatedChar.race}} {{generatedChar.class}}, Lvl. {{generatedChar.level}}
                    </h5>
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td colspan="2">Força: {{generatedChar.stats.str}} ({{generatedChar.stats.str > 19 ? '+5' : generatedChar.stats.str > 17 ? '+4' : generatedChar.stats.str > 15 ? '+3' : generatedChar.stats.str > 13 ? '+2' : generatedChar.stats.str > 11 ? '+1' : generatedChar.stats.str
                    > 9 ? '0' : generatedChar.stats.str > 7 ? '-1' : generatedChar.stats.str > 5 ? '-2' : generatedChar.stats.str > 3 ? '-3' : generatedChar.stats.str > 1 ? '-4' : '-5' }})</td>
                <td colspan="2">Destreza: {{generatedChar.stats.dex}} ({{generatedChar.stats.dex > 19 ? '+5' : generatedChar.stats.dex > 17 ? '+4' : generatedChar.stats.dex > 15 ? '+3' : generatedChar.stats.dex > 13 ? '+2' : generatedChar.stats.dex > 11 ? '+1' : generatedChar.stats.dex
                    > 9 ? '0' : generatedChar.stats.dex > 7 ? '-1' : generatedChar.stats.dex > 5 ? '-2' : generatedChar.stats.dex > 3 ? '-3' : generatedChar.stats.dex > 1 ? '-4' : '-5' }})</td>
                <td colspan="2">Constituição: {{generatedChar.stats.con}} ({{generatedChar.stats.con > 19 ? '+5' : generatedChar.stats.con > 17 ? '+4' : generatedChar.stats.con > 15 ? '+3' : generatedChar.stats.con > 13 ? '+2' : generatedChar.stats.con > 11 ? '+1' :
                    generatedChar.stats.con > 9 ? '0' : generatedChar.stats.con > 7 ? '-1' : generatedChar.stats.con > 5 ? '-2' : generatedChar.stats.con > 3 ? '-3' : generatedChar.stats.con > 1 ? '-4' : '-5' }})</td>
            </tr>
            <tr>
                <td colspan="2">Sabedoria: {{generatedChar.stats.wis}} ({{generatedChar.stats.wis > 19 ? '+5' : generatedChar.stats.wis > 17 ? '+4' : generatedChar.stats.wis > 15 ? '+3' : generatedChar.stats.wis > 13 ? '+2' : generatedChar.stats.wis > 11 ? '+1' : generatedChar.stats.wis
                    > 9 ? '0' : generatedChar.stats.wis > 7 ? '-1' : generatedChar.stats.wis > 5 ? '-2' : generatedChar.stats.wis > 3 ? '-3' : generatedChar.stats.wis > 1 ? '-4' : '-5' }})</td>
                <td colspan="2">Inteligência: {{generatedChar.stats.int}} ({{generatedChar.stats.int > 19 ? '+5' : generatedChar.stats.int > 17 ? '+4' : generatedChar.stats.int > 15 ? '+3' : generatedChar.stats.int > 13 ? '+2' : generatedChar.stats.int > 11 ? '+1' :
                    generatedChar.stats.int > 9 ? '0' : generatedChar.stats.int > 7 ? '-1' : generatedChar.stats.int > 5 ? '-2' : generatedChar.stats.int > 3 ? '-3' : generatedChar.stats.int > 1 ? '-4' : '-5' }})</td>
                <td colspan="2">Carisma: {{generatedChar.stats.cha}} ({{generatedChar.stats.cha > 19 ? '+5' : generatedChar.stats.cha > 17 ? '+4' : generatedChar.stats.cha > 15 ? '+3' : generatedChar.stats.cha > 13 ? '+2' : generatedChar.stats.cha > 11 ? '+1' : generatedChar.stats.cha
                    > 9 ? '0' : generatedChar.stats.cha > 7 ? '-1' : generatedChar.stats.cha > 5 ? '-2' : generatedChar.stats.cha > 3 ? '-3' : generatedChar.stats.cha > 1 ? '-4' : '-5' }})</td>
            </tr>
            <tr>
                <td colspan="3">
                    Alinhamento: {{generatedChar.aligment[0]}} {{generatedChar.aligment[1]}}
                </td>
                <td colspan="3">PV: {{generatedChar.pv}}</td>


            </tr>

            <tr>
                <td colspan="6">
                    <h5>Características</h5>
                    <p *ngFor="let list of generatedChar.traits">{{list}}</p>
                </td>
            </tr>
        </tbody>
    </table>

</div>