<div class="content ">
    <div class="col-12 justify-content-center">
        <div class="row bg-header mt-2 pl-2 pt-2">
            <h2>NPC Generator</h2>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <label for="power" class="text-light">1) Escolha uma Raça</label>
                <select class="custom-select flex-fill" [(ngModel)]="selectedRace" id="race" name="race">            
                    <option *ngFor="let option of races" [value]="option" >
                        {{option}}
                    </option>
                    <option selected value="">Aleatório</option>
                  </select>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <label for="power" class="text-light">2) Escolha uma Classe</label>
                <select class="custom-select flex-fill" [(ngModel)]="selectedClass" id="class" name="class">            
                    <option *ngFor="let option of classes" [value]="option" >
                        {{option}}
                    </option>
                    <option selected value="">Aleatório</option>
                  </select>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <label for="power" class="text-light">3) Escolha o Gênero</label>
            <div class="d-flex justify-content-between">
                <div class="radio">
                    <input value="Masculino" [(ngModel)]="gender" type="radio">
                    <label [attr.for]="id" class="radio-label text-light">
                       Masculino
                    </label>
                </div>
                <div class="radio">
                    <input value="Feminino" [(ngModel)]="gender" type="radio">
                    <label [attr.for]="id" class="radio-label text-light">
                        Feminino
                    </label>
                </div>
                <div class="radio">
                    <input value="Outro" [(ngModel)]="gender" type="radio">
                    <label [attr.for]="id" class="radio-label text-light">
                        Outro
                    </label>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-6">
            <label for="power" class="text-light">4) Escolha o Nível *</label>
            <input min="1" type="number" class="form-control" value="1" required [(ngModel)]="levelNPC">
        </div>
    </div>

    <!--  -->
    <div class="row mt-2">

        <div class="p-1">
            <button class="btn  btn-large" (click)="generateNPC()">
            <i class="fas fa-user-plus"></i> 
            Gerar NPC</button>
        </div>
        <div class="p-1">
            <button class="btn  btn-large" (click)="resetNPC()"><i class="fas fa-undo"></i> Limpar NPC</button>
        </div>
        <div class="p-1" *ngIf="generatedChar.name">
            <button class="btn  btn-large" (click)="copyText(generatedCharClipboard)"><i class="fas fa-copy"></i> Copiar NPC para área de transferência</button>
        </div>



    </div>
    <table class="table  table-style text-light" *ngIf="generatedChar.name" [@inOutAnimation]>
        <thead>
            <tr class="bg-header">
                <th colspan="6">
                    <h5>
                        {{generatedChar.name}}, {{generatedChar.gender}}, {{generatedChar.race}} {{generatedChar.class}}, Lvl. {{generatedChar.level}}
                    </h5>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="6">
                    <h5>Características</h5>
                    <p *ngFor="let list of generatedChar.traits">{{list}}</p>
                </td>
            </tr>
            <tr>
                <td>Força: </td>
                <td>Destreza: </td>
                <td>Constituição: </td>
            </tr>
            <tr>
                <td>Sabedoria: </td>
                <td>Inteligência: </td>
                <td>Carisma: </td>
            </tr>

        </tbody>
    </table>

</div>